@media all and (min-width:0px) and (max-width: 640px) {
    
    .col-sm-5 {
        background: #A9D861;
        max-height: 100%;
    }
    .container {
        background: #F3F0F3;
        top: 80px;
        position: relative;
        padding-top: 15px;  
    }
}

.container {
    background: #F3F0F3;
    ;
    top: 80px;
    position: relative;
    padding-top: 15px
}

.col-sm-5 {
    background: #A9D861;
    padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 5px;
}