img {
    padding-bottom: 5px;    
}

/* .navbar-header {
    height: auto;
    margin: 0 auto;
    display: block;
    position: fixed;
    padding-bottom: 25px;
} */

/* .div {
    height: auto;
    margin: 0 auto;
    display: block;
    position: fixed;
    padding-bottom: 25px;
} */
