<div class="col-sm-12 navbar-header scrolling">
    <div class="col-sm-6">
      <div class="col-sm-1">
        
        <a href="#">
          <img [src]="imagePath2" style="max-height: 50px;">
        </a>
        
      </div>
      <div class="col-sm-2">  
          <a href="#" style="color:#F3F0F3; padding-left: 0px;">Hojo</a>
      </div>
      <div class="col-sm-4">
        <a *ngIf="getUserLoginStatus()" (click)="onSelect('create')" style="color:#F3F0F3;">Create Event</a>  
      </div>

    </div>

    <div class="col-sm-6">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-3">
        <!-- <ul class="nav navbar-nav navbar-right"> -->
          
            <a *ngIf="!getUserLoginStatus()" (click)="onSelect('login')" style="color:#F3F0F3">Login</a>
            <a *ngIf="!getUserLoginStatus()" (click)="onSelect('register')" style="color:#F3F0F3;">Register</a>
        
        
          
            <a *ngIf="getUserLoginStatus()" (click)="onSelect('logout')" style="color:#F3F0F3">Logout</a>
          
       <!--  </ul> -->
      </div>
      <div class="col-sm-3">
        <a *ngIf="getUserLoginStatus()" [routerLink]="['/user-profile']">
          <img [src]="imagePath" style="max-height: 55px; padding-bottom: 5px;">
        </a>
      </div>
     
    </div>
  

</div>
