/* @media all and (min-width:0px) and (max-width: 640px) {
    .col-sm-12 {
        position: fixed;
        width: 100%;
        background-color: #012400;
        border-color: #012400;
        border-radius: 0;
        box-shadow: 5px 5px 5px #888888;
        font-size: 25x;
        padding-top: 5px;
        cursor: pointer;
        z-index: 1050;
    }
} */


    .col-sm-12 {
        position: fixed;
        width: 100%;
        background-color: #012400;
        border-color: #012400;
        border-radius: 0;
        box-shadow: 5px 5px 5px #888888;
        font-size: 25px;
        cursor: pointer;
        z-index: 1050;
    }
    img.img {
        padding-top: 5px;
        padding-bottom: 5px;
        max-height: 50px;
    }
    .col-sm-3 {
        padding-top: 5px;
    }
    .col-sm-4 {
        padding-top: 0px;
    }

.form-control{
    max-width: 135px;
    padding-bottom: 5px;
    background-color: #437422;
    color: #DFF1A0;
    
  

}
select{
    max-width: 135px;
    border: 0px;
}
#dropdown-basic{
    background-color: #437422;
}
a.dropdown-item{
    color: #DFF1A0;
}
