
<div class="footer-copyright" style="color:white; width: 100%">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="col-sm-2 ">
        <br>
      <h5 class="title">About Us</h5>
      <ul>
        <a href="#!">Contact us</a>
        <br>
        <a href="#!">Link 2</a>
        <br>
        <a href="#!">Link 3</a>
        <br>
        <a href="#!">Link 4</a>
        <br>
      </ul>
    </div>

    <div class="col-sm-2 " >
      <br>
      <h5 class="title">Product Info</h5>
      <ul>
          <a href="#!">Community Support</a>
          <br>
          <a href="#!">Terms of Service</a>
          <br>
      </ul>
    </div>

    <div class="col-sm-2 ">
      <br>
      <h5 class="title">Account</h5>
      <ul>
          <a href="#!">My Account</a>
          <br>       
          <a href="#!">Create Account</a>
          <br>
          <a href="#!">Link 3</a>
          <br>
      </ul>
    </div>
  </div>
    
      <h5 style="color: white">© 2018 Copyright:</h5>
      <a href="#" style="color:white;">Hojo.com </a>
     
</div>
