<div class="color-dark">
    <div class="row ">

      <div class="col-lg-4 ">
        <h5 class="title">Links</h5>
        <ul>
          <li>
            <a href="#!" >Contact us</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4">
        <h5 class="title">Links</h5>
        <ul>
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      
      <div class="col-lg-4 ">
        <h5 class="title">Account</h5>
        <ul>
          <li>
            <a href="#!">My Account</a>
          </li>
          <li>
            <a href="#!">Create Account</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
        </ul>
      </div>
    </div>
  

  

  <div class="footer-copyright">
    <div class="container-fluid" style="color:white;">
      © 2017 Copyright:
      <a href="https://www.SportHub.com"style="color:white;">SportHub.com </a>
    </div>
  </div>
</div>