@media all and (min-width:0px) and (max-width: 640px) {
    div.footer-copyright {
        font-size: 50%;
        background: #232627;
        padding-top: 0px;
    }
}

/* .container-fluid {
    background: #232627;
} */

div.footer-copyright {
    background: #232627;
    padding-top: 0px;
}

/* .color-dark {
    background: #232627;
    width: 100%;
} */

h5 {
    color: white;
    /* padding-left: 40px; */
}

a {
    color: gray
}