<div class="color-dark" style="max-height: 150px">
  <div class="row ">     
    <div class="col-lg-2" style="left:300px;">
      <h5 class="title">About Us</h5>
      <ul>
        <a href="#!">Contact us</a>
        <br>
        <a href="#!">Link 2</a>
        <br>
        <a href="#!">Link 3</a>
        <br>
        <a href="#!">Link 4</a>
        <br>
      </ul>
    </div>

    <div class="col-lg-2 " style="left:240px;">
      <h5 class="title">Product Info</h5>
      <ul>
          <a href="#!">Community Support</a>
          <br>
          <a href="#!">Terms of Service</a>
          <br>
      </ul>
    </div>

    <div class="col-lg-2 " style="left:250px;">
      <h5 class="title">Account</h5>
      <ul>
          <a href="#!">My Account</a>
          <br>       
          <a href="#!">Create Account</a>
          <br>
          <a href="#!">Link 3</a>
          <br>
      </ul>
    </div>
  
  </div>



  <div class="footer-copyright">
    <div class="container-fluid" style="color:white;">
      © 2018 Copyright:
      <a href="https://www.Hojo.com" style="color:white;">Hojo.com </a>
    </div> 
</div>
</div>