.col-sm-3 {
    background: #232627;
    padding-top: 8em;
    color: white;
}

.col-sm-12 {
    background: #232627;
    padding-top: 50px;
    color: white;
    width: 100%;
}

h5 {
    color: white;
    background: #232627;
}

a {
    color: gray;
}