.color-dark
{
    background: #232627;
    width: 100%;
    position: relative;
    height: 150px;
    margin-top: 450px;
    
    clear: both;
}
h5
{
    color: rgb(212, 212, 212);
    padding-left: 40px;
}
a
{
    color: gray
}
h5
{
    color: #2B8531
}
a
{
    color: #2B8531
>>>>>>> Temporary merge branch 2
}