
        <div class="form-group">
           
              <div class="col-lg-3">
                <label for="sportType">Sport</label>
                <select class="form-control" name="sportType"  [(ngModel)]= "activitySelected" (ngModelChange)='onActivitySelected($event)' >
                  <option *ngFor="let sportValue of sportValues" [ngValue]="sportValue">{{sportValue}}</option>
                </select>
              </div>
               
              
              <div class="col-lg-3">
                  <label for="skillLevel">Skill level</label>
                  <select class="form-control" name="skillLevel" >
                    <option *ngFor="let skillValue of skillValues" [ngValue]="skillValue">{{skillValue}}</option>
                  </select>
                </div>
          <div class="col-lg-3">
              <label for="playType">Play type</label>
              <select class="form-control" name="playTYpe" >
                <option *ngFor="let playTypeValue of playTypeValues" [ngValue]="playTypeValue">{{playTypeValue}}</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <label for="maxAttendees">Player amount</label>
                   <input type="number" name="maxAttendees" min="1" max="30" />
              
                
              </div>

         
      
   