
      <div class="row">
       
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <h3>Activity </h3>
          <div>
            <select  [(ngModel)]= "activitySelected" (ngModelChange)='onActivitySelected($event)'>
              <option *ngFor="let sportValue of sportValues"[ngValue]="sportValue"> {{SportValue}}

                
              </option>
            </select>
           </div> 
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <h3>Skill Level </h3>                 
          <div>
            <select>
              <option *ngFor="let skillLevel of skillLevels">{{skillLevel}}</option>
            </select>
           </div> 
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h3>Player count </h3>
            <div>
              <select>
                <option *ngFor="let amountofpeople of amountOfPeople">{{amountofpeople}}</option>
              </select>
             </div> 
          </div>
          <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
          <div class="checkbox">

              <label><input type="checkbox" value="">Casual</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Hardcore</label>
            </div>
          </div>  -->
      </div>
   