
<div class="scrollmenu">
     <li class="list-group-item" *ngFor="let event of events" (click)="openEventView(event.eventId)">
      <label>Title:</label> 
      <br>
      {{event.title}}
      <br>
      <label>Sport:</label>
      <br>
      {{event.sportType}}
      <br>
      <label>Date:</label>
      <br>
      {{getDate(event.date)}}
     </li>
</div>

<!-- id: {{event.eventId}} Location: {{event.location}} Skill: {{event.skillLevel}} Max Attendees: {{event.maxAttendees}} Description:
{{event.description}} -->




  
    
  
