div.scrollmenu {
    max-height: 59%;
    min-height: 59%;
    background-color: #F3F0F3;
    overflow: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.list-group-item
{
    padding: 0px;
}
label{
    padding-left: 15px;  
}