<label>Events in the area</label>
<div class="scrollmenu">
    
    <ul class="list-group-item " *ngFor="let event of events; let i = index; let isEven = even; let isOdd = odd" (click)="openEventView(event.eventId) ">
     <div style="background: #F3F0F3" *ngIf="isOdd; else even ">
      <label style="padding-top: 10px">Title:</label> 
      {{event.title}} 
      <br>
      <label>Sport:</label>
      {{event.sportType}}
      <br>
      <label>Date:</label>
      {{eventService.parseDate(event.date)}}
     </div>
     
     <ng-template #even >
         <div style="background: white">
            <label style="padding-top: 10px" >Title:</label> 
            {{event.title}}
            <br>
            <label>Sport:</label>
            {{event.sportType}}
            <br>
            <label>Date:</label>
            {{eventService.parseDate(event.date)}}
        </div>
     </ng-template>
    </ul>
</div>


<!-- id: {{event.eventId}} Location: {{event.location}} Skill: {{event.skillLevel}} Max Attendees: {{event.maxAttendees}} Description:
{{event.description}} -->




  
    
  
