agm-map {
    height: 300px;
    width: 600px;
    right: 50%;
 }
 .col{
    border: 0;
    padding: 10em;
    width: 80%;
    margin-bottom: 2em;
 }
 .div2{
    position: relative;
    width: 150px;
    height: 100px;
    top: 50px;
    left: 50px;
 }
 .div3{
    position: relative;
    width: 10px;
    height: 200px;
    top: 9px;
    left: 200px;
 }
 .korjataankoko{
    width: 200px;
    align-self: center;
    top: 100px
 }