<div class="col-md-6 col-md-offset-3">
  <h2>Create new event</h2>

  <form name="form" (ngSubmit)="f.form.valid && createEvent()" #f="ngForm" novalidate>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
      <div *ngIf="f.submitted && !title.valid" class="help-blog">Title is required</div>
    </div>

    <div class="form-group">
      <label for="sportType">Sport</label>
      <select class="form-control" name="sportType" [(ngModel)]="model.sportType" #sportType="ngModel">
        <option *ngFor="let sportValue of sportValues" [ngValue]="sportValue">{{sportValue}}</option>
      </select>
      <div *ngIf="f.submitted && !sportType.valid" class="help-blog">Sport type is required</div>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" name="location" [(ngModel)]="model.location" #location="ngModel" required />
      <div *ngIf="f.submitted && !location.valid" class="help-blog">Location is required</div>
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" required />
      <label for="time">Time</label>
      <input type="time" class="form-control" name="time" value="0" [(ngModel)]="model.time" #time="ngModel" required />
      <div *ngIf="f.submitted && !date.valid" class="help-blog">Date and time are required</div>
    </div>

    <div class="form-group">
      <label for="skillLevel">Skill level</label>
      <select class="form-control" name="skillLevel" [(ngModel)]="model.skillLevel" #skillLevel="ngModel">
        <option *ngFor="let skillValue of skillValues" [ngValue]="skillValue">{{skillValue}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="minAttendees">Minimum number of attendees</label>
      <input type="number" name="minAttendees" value="1" min="1" max="30" [(ngModel)]="model.minAttendees"
            #minAttendees="ngModel"/>
      <br>
      <label for="maxAttendees">Maximum number of attendees</label>
      <input type="number" name="maxAttendees" min="1" max="30" [(ngModel)]="model.maxAttendees" #maxAttendees="ngModel"/>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" maxlength="300"  [(ngModel)]="model.description" #description="ngModel"/> 
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" (click)="model.host = currentUser">Create</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>

  </form> 
</div>
