@media all and (min-width:0px) and (max-width: 640px) {
    /* put your css styles in here */
    body {
        padding-top: 10em;
        padding-bottom: 3em;
    }
}

/* body {
    padding-bottom: 80px;
} */