#profilePicture 
{
    height: 125px;
    width: 125px;
}
textarea
{
    resize: none;
}

textarea:disabled
{
    background-color: white;
}

#eventView{
    padding: 30px;
}

.btn.btn-primary
{
    margin-top: 10px;
}

button[hidden]
{
    display: none;
}
