@import "~ng-pick-datetime/assets/style/picker.min.css";
@media all and (min-width:0px) and (max-width: 640px) {
    .scrolling {
        position: fixed;
        width: 100%;
        background-color: #012400;
        border-color: #012400;
        border-radius: 0;
        box-shadow: 5px 5px 5px #888888;
        font-size: 18px;
        padding-top: 5px;
        cursor: pointer;
        z-index: 1050;
    }
}

@media all and (min-width:641px) and (max-width: 1920px) {
    .scrolling {
        position: fixed;
        width: 100%;
        background-color: #012400;
        border-color: #012400;
        border-radius: 0;
        box-shadow: 5px 5px 5px #888888;
        font-size: 25px;
        padding-top: 12px;
        cursor: pointer;
        z-index: 1050;
    }
}


.pac-container {
    z-index: 1050;
}

label {
    color: #437422;
}

body {
    background: #F3F0F3;
}

.navbar-default {
    padding-top: 0px;
    padding-bottom: 5px;
    background-color: #012400;
    border-color: #012400;
}

/* .movingHeader {
    padding-left: 170px;
    font-size: 30px;
    color: #040f0f;
} */

/* .moving {
    padding-right: 145px;
} */

.cancelButton {
    color: #012400;
    background: #A9D861;
}

.create {
    color: #DFF1A0;
    background: #437422;
}

/*
    Primary button is used for:
        - Logging in
        - Creating an event
        - Joining an event
        - Edit an event
    Success:
        - Cancel button
    Danger:
        - Delete an event
*/

.btn-primary {
    color: #DFF1A0 !important;
    background: #437422 !important;
    border-color: #437422 !important;
}

.btn-success {
    color: #012400 !important;
    background: #A9D861 !important;
    border-color: #A9D861 !important;
}

.btn-danger {
    color: #F7BBD5 !important;
    background: #4E0F10 !important;
    border-color: #4E0F10 !important;
}

.btn-default {
    color: #DFF1A0 !important;
    background: #437422 !important;
    border-color: #437422 !important;
}