<div class="col-md-6 col-md-offset-3">
    <!--  <h1>Hi {{event.eventId}} </h1>  -->
    <h3>TEST PAGE</h3>
<!--  <ul>
        <li *ngIf="event">
            {{event.eventId}}
            - <a (click)="deleteEvent(event.eventId)">Delete</a> 
    </ul> -->


    <ul>
        <li *ngFor="let event of events">
            Title :{{event.title}} id: {{event.eventId}} Sport: {{event.sportType}} Location: {{event.location}} Date: {{event.date}} 
            Skill: {{event.skillLevel}} ManAttendees: {{event.maxAttendees}} {{event.description}}
            - <a (click)="deleteEvent(event.eventId)">Delete event</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
    <p><a [routerLink]="['/createEvent']">createEvent</a></p>
</div>