<body>
<div class="col-md-6 col-md-offset-3">
    <!--  <h1>Hi {{event.eventId}} </h1>  -->
    <h3>TEST PAGE</h3>
    <p><a (click)="openModal('login')">Modal Login</a></p>
    <p><a (click)="openModal('register')">Modal register</a></p>
    <p><a (click)="openModal('createEvent')">Modal create event</a></p>
    <p><a (click)="openModal('eventView')">Modal eventView</a></p>
<!--LIST ALL EVENTS -->
    <ul>
        <li *ngFor="let event of events">
            <br>Title: {{event.title}} 
            <br>id: {{event.eventId}} 
            <br>Sport: {{event.sportType}} 
            <br>Location: {{event.location}} 
            <br>Date: {{event.date}} 
            <br>Skill: {{event.skillLevel}} 
            <br>Max Attendees: {{event.maxAttendees}} 
            <br>Description: {{event.description}}
            <br><br>
            - <a (click)="deleteEvent(event.eventId)">Delete event</a>
            - <a (click)="openEdit(event.eventId);">Edit event</a>
            - <a (click)="openEventView(event.eventId)">View event</a>
        </li>
    </ul>
    <p *ngIf="user"><a (click)="openProfileView(user.accountId)">{{user.email}}</a></p>
    <p><a [routerLink]="['/login']">Logout</a></p>
    <p><a [routerLink]="['/createEvent']">createEvent</a></p>
    <input type="file" id="filePicker" (change)="handleFileSelect($event)">
    <img src="image">
</div>
</body>

