<app-searchfield (messageEvent)="receiveMessage($event)" (messageEvent)="receiveLevel"></app-searchfield>

<!-- <div style="padding-bottom: 50px; width: 500px; padding-left: 200px; padding-top: 80px;"> -->
    <div style="padding-bottom: 15px;">
  <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
    #search [formControl]="searchControl">
</div>

<agm-map #gm [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude">
  </agm-marker>
  <div *ngIf="markers">
    <div *ngFor="let marker of markers">
      <!-- <div *ngIf="marker.tag == message"> -->
        <agm-marker (markerClick)="onMapClick($event)" 
        [latitude]=marker.markerLatitude 
        [longitude]=marker.markerLongitude 
        (mouseOver)="mouseOverMarker(infoWindow,gm)"
        (mouseOut)="mouseLeftMarker(infoWindow)">
          <agm-info-window #infoWindow>{{ marker.markerLatitude }} {{ marker.markerLongitude }}</agm-info-window>
        </agm-marker>
      <!-- </div> -->
    </div>
  </div>