<app-searchfield (messageEvent)="receiveMessage($event)"></app-searchfield>

<input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
  #search [formControl]="searchControl">

<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude">
  </agm-marker>
  <div>
    <div *ngFor="let marker of markers">
      <div *ngIf="marker.tag == message">
        <agm-marker (markerClick)="onMapClick($event)" [latitude]=marker.latitude [longitude]=marker.longitude>
          <agm-info-window>{{ marker.latitude }} {{ marker.longitude }}</agm-info-window>
        </agm-marker>
      </div>
    </div>
  </div>
</agm-map>