<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">PlayMates</a>
    </div>
  </div>
</nav>
<div class="col-md-6 col-md-offset-3">
  <h2>Your profile</h2>

  <div class="row">
    <div class="col-sm-3 col-sm-3">
        <img src="http://clipart-library.com/images/Aibr5LR8T.jpg" alt="" style="max-width: 100%; max-height: 100%;">
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label for="firstName">First name</label>
    <input disabled type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" *ngIf="user"
    />
  </div>

  <div class="form-group">
    <label for="lastName">Last name</label>
    <input disabled type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" *ngIf="user"
    />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input disabled type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" *ngIf="user" />
  </div>

  <div class="form-group">
    <label for="mobileNumber">Mobile Number</label>
    <input disabled type="number" class="form-control" name="mobileNumber" [(ngModel)]="user.mobileNumber" #mobileNumber="ngModel"
      *ngIf="user" />
  </div>

  <div class="form-group">
    <label for="biography">Biography</label>
    <input disabled name="biography" class="form-control" type="text" style="height: 15%;" [(ngModel)]="user.biography" #biography="ngModel" *ngIf="user" />
  </div>

  <div>
    <button routerLink="/edit-profile" class="btn btn-primary">Edit</button>
    <button routerLink="/" class="btn btn-primary">Back</button>
  </div>
  <hr>
</div>