<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">PlayMates</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="/" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

<ul class="list-group">
  <label>First Name</label>
  <li class="list-group-item">{{ user.firstName }}</li>
  <label>Last Name</label>
  <li class="list-group-item">{{ user.lastName }}</li>
  <label>Email</label>
  <li class="list-group-item">{{ user.email }}</li>
  <label>Phone</label>
  <li class="list-group-item">{{ user.mobileNumber }}</li>
</ul>