<div class="col-sm-6 col-sm-offset-3" style="padding-top: 80px">
  <h2>Your profile</h2>
  <div class="row">
    <div class="col-sm-3 col-sm-3">
        <img [src]="imagePath" alt="" style="max-width: 75%; max-height: 75%;">
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label for="firstName">First name</label>
    <input disabled type="text" class="form-control" name="firstName" [(ngModel)]="currentUser.firstName" #firstName="ngModel" *ngIf="currentUser"
    />
  </div>

  <div class="form-group">
    <label for="lastName">Last name</label>
    <input disabled type="text" class="form-control" name="lastName" [(ngModel)]="currentUser.lastName" #lastName="ngModel" *ngIf="currentUser"
    />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input disabled type="text" class="form-control" name="email" [(ngModel)]="currentUser.email" #email="ngModel" *ngIf="currentUser" />
  </div>

  <div class="form-group">
    <label for="mobileNumber">Mobile Number</label>
    <input disabled type="number" class="form-control" name="mobileNumber" [(ngModel)]="currentUser.mobileNumber" #mobileNumber="ngModel" *ngIf="currentUser" />
  </div>

  <div class="form-group">
    <label for="biography">Biography</label>
    <input disabled name="biography" class="form-control" type="text" style="height: 15%;" [(ngModel)]="currentUser.biography" #biography="ngModel" *ngIf="currentUser" />
  </div>

  <div>
    <button routerLink="/edit-profile" class="btn create">Edit</button>
    <button routerLink="/" class="btn cancelButton">Back</button>
  </div>
  <hr>
</div>
